div.home-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 1fr;
    grid-template-areas: 
    'head head'
    'main main'
    ;
    height: 100vh;
    background-color: #fff;
}

div.main-home{
    grid-area: main;
    grid-column-start: 1;
    grid-column-end: -1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr 25%;
    grid-template-areas: 
    'user-dash'
    'user-options'
    'relatorio'
    ;
    height: 100%;
    background-color: #e6e6e6;
}

div.main-home div{
    margin-bottom: 5rem;
}

div.user-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'user-account user-pay'
    'user-receive user-limits'
    ;
    height: 100%;
}
