.principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'leftzone rightzone'
    ;
    height: 100vh;
    color: #fff;
    background-color: #272B35;
    overflow-x: hidden;
}

.leftzone{
    padding: 5rem;
    grid-area: leftzone;
    background-color: #272B35;
}

.rightzone{
    padding: 5.5rem;
    grid-area: rightzone;
    background-color: #fff;
    height: 100%;
}

.cadastrar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 120px;
    margin-left: 100px;
}

.entrar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 160px;
    margin-left: 100px;
}

.cadastrar input{
    border-color: #fff;
    background-color: #272B35;
    width: 500px;
    border-radius: 7px;
    height: 50px;
}

.entrar input{
    background-color: #fff;
    width: 500px;
    border-radius: 7px;
    height: 50px;
    border: 1px solid #000;
}

.cadastrar input::placeholder{
    color: #fff;
}

#titulo-cadastrar{
    margin-left: -150px;
}

#titulo-entrar{
    margin-left: -150px;
    color: #000;
}

.botao-cadastrar{
    margin-left: 190px;
    margin-top: -80px;
}

.botao-entrar{
    background-color: #272B35;
    border-radius: 7px;
    color: #fff;
    width: 140px;
    height: 40px;
    margin-left: 12rem;
}


#aurum{
    margin-left: 330px;
    margin-top: 20px;
}

#direitos{
    margin-left: 255px;
    margin-top: -20px;
}


#esqueci-senha{
    margin-left: 300px;
    text-decoration: none;
    color: #000;
    margin-top: 60px;
}

.logo{
    text-decoration: none;
    color: #fff;
    width: 10px;
    font-size: 50px;
}