div.despesa-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr;
    grid-template-areas: 
    'nav'
    'content'
    ;
    height: 100vh;
    background-color: #ffffff;
    font-family: 'Abel', sans-serif;
    align-items: center;
    overflow-x: hidden;
}

div.despesas-section{
    padding: 2rem;

    width: 80%;
    height: 70%;
    grid-area: content;
    margin: 0rem 11rem;

    border-radius: 8px;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

div.despesas-section i{
    font-size: 2.5rem;
}

div.item-content i{
    color: #fff;
    font-size: 1.7rem;
}

div.despesas-section .despesa-item{
    font-weight: 600;
    padding: 0.5rem 0.5rem;

    width: 20rem;
    height: 2.5rem;

    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
