div .relatorio-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr;
    grid-template-areas: 
    'nav'
    'content'
    ;
    
    height: 100vh;

    background-color: #ffffff;
    font-family: 'Abel', sans-serif;
    align-items: center;
    overflow-x: hidden;
}

div .relatorio-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'plot1 plot2'
    'plot3 plot4'
    ;

    margin: auto;
    padding: 2rem;
    width: 90%;
    height: 100vh;
    
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}