.my-offcanvas {
    top: 0;
    left: -100rem;

    width: 40rem;
    height: 100%;
    padding: 20px;
    position: fixed;

    color: #000000;
    background-color: #ffffff;
    box-shadow:  5px 5px 5px #e2e2e2;
    transition: left 0.6s ease-in-out;
  }

  .my-offcanvas.active {
    left: 0;
  }