div.user-report-area{
    height: 100%;
    width: 90%;
    margin-left: 7rem;

    padding: 2rem;
    padding-bottom: 10em;
    
    border-radius: 7px;
    border: 2px solid #d3d3d3;
    background-color: #fff;
}