div.user-dash-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'nome saldo adicionarR adiconarD relatorios'
    'receita receita adicionarR adiconarD relatorios'
    ;
    height: 80%;
    width: 80%;
    
    margin-top: 3rem;
    margin-left: 13rem;
    margin-bottom: 10rem;
    
    text-align: center;
    align-items: center;

    border-radius: 7px;
    border: 2px solid #d3d3d3;
    background-color: #fff;
}

div.user-dash-area a button{
    color: #000;
    text-decoration: none;
}

span.canvas-button-area{
    margin-top: 1rem;
    margin-left: 7rem;
    margin-right: 0rem;
}

span.dash-relatorio-button{
    height: 40%;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    color: #000000;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid#ecebebb5;
}