div.user-limits-area{
    height: 100%;
    width: 80%;
    margin-left: 7rem;
    
    padding: 2rem;
    padding-bottom: 10em;

    border-radius: 7px;
    border: 2px solid #d3d3d3;
    background-color: #fff;
}