    div.user-revenue-area{
        height: 100%;
        width: 80%;
        margin-left: 5rem;
        
        padding: 1rem;
        align-items: center;

        border-radius: 7px;
        border: 2px solid #d3d3d3;
        background-color: #fff;
    }

    div.d-revenue {
        width: 90%;
        height: 5rem;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        padding: 0rem;

        border: none;
        border-radius: 5px;
        box-shadow: 5px 5px 12px #d0d2d8;
    }

    div.d-revenue div{
        display: flex;
        flex-direction: column;
    }

    p.revenue-name{
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0;
    }