.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 1.5rem;
    margin: 0 auto;
    max-width: 100%;
    height: 80%;

    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .forms-area{
    width: 100%;
    margin-top: 5rem;
    flex-wrap: wrap;
    padding: 1rem;
  }

  label {
    margin-top: 3rem;
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"],
  select,
  input[type="date"] {
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  
  .botao-enviar {
    width: 40%;
    height: 10%;
    margin-left: 8rem;
    margin-top: 12rem;

    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #000;
    background-color: transparent;
  }