div.head-nav{
    grid-area: head;
    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    align-items: center;
    
    border-bottom: 2px solid #d3d3d3;
}

div.head-nav aside{
    margin-left: 30rem;
}
